name: dotnet-wsdl-check
run-name: "WSDL files syntax check with .Net 9.0"

on:
  push:
    paths:
      - '**.wsdl'
      - '**.xsd'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dotnet-wsdl-check:
    strategy:
      fail-fast: true
    runs-on: ubuntu-24.04
    steps:
      - name: Install missing software
        run: |
          sudo add-apt-repository ppa:dotnet/backports
          sudo apt update && sudo apt install dotnet-sdk-9.0
      - name: Get branch names.
        id: branch-names
        uses: tj-actions/branch-names@5250492686b253f06fa55861556d1027b067aeb5
      - name: Compile xmlcompat
        run: |
          dotnet tool install dotnet-svcutil
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/accessrules/wsdl/accessrules.wsdl -d . -o AccessRules.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/advancedsecurity/wsdl/advancedsecurity.wsdl -d . -o Security.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/appmgmt/wsdl/appmgmt.wsdl -d . -o AppMgmt.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/authenticationbehavior/wsdl/authenticationbehavior.wsdl -d . -o AuthenticationBehavior.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/credential/wsdl/credential.wsdl -d . -o Credential
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/display/wsdl/index.htm -d . -o Credential.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/device/wsdl/devicemgmt.wsdl -d . -o Device.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/events/wsdl/event.wsdl -d . -o Event.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/media/wsdl/media.wsdl -d . -o Media.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/pacs/accesscontrol.wsdl -d . -o Accesscontrol.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/pacs/doorcontrol.wsdl -d . -o  Doorcontrol.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/provisioning/wsdl/provisioning.wsdl -d . -o  Provisioning.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/schedule/wsdl/schedule.wsdl -d . -o Schedule.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/thermal/wsdl/thermal.wsdl -d . -o  Thermal.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver10/uplink/wsdl/uplink.wsdl -d . -o Uplink.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver20/analytics/wsdl/analytics.wsdl -d . -o Analytics.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver20/imaging/wsdl/imaging.wsdl -d . -o Imaging.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver20/media/wsdl/media.wsdl -d . -o Media2.cs
          dotnet tool run dotnet-svcutil https://raw.githubusercontent.com/onvif/specs/refs/heads/${{ steps.branch-names.outputs.current_branch }}/wsdl/ver20/ptz/wsdl/ptz.wsdl -d . -o PTZ

